<section class="hero is-danger is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Eventos em Destaque
      </h1>
      <h2 class="subtitle">
        Veja quais são os próximos eventos de tecnologia no Brasil
      </h2>
    </div>
  </div>
</section>

<div class="container container--main">

  <div class="columns is-multiline">

    <% @events.each do |event| %>
    <div class="column is-4">

      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4 is-danger-text"><%= event.title %></p>
              <p class="subtitle is-6"><%= event.city %>, <%= event.state %></p>
            </div>
          </div>

          <div class="content">
            <p><%= event.description %></p>

            <p><i class="material-icons">place</i> <%= event.address %></p>
            <p><i class="material-icons">date_range</i> <%= I18n.l(event.event_date, format: '%d/%m/%Y') %></p>
            
            <a href="<%= event_path(event) %>" class="button is-danger">Ver Mais</a>
          </div> <!-- .content -->
        </div>
      </div> <!-- .card -->
      
    </div>
    <% end %>

  </div>

</div>