<div class="container container--main">
  
  <h1 class="title">Eventos em Destaque</h1>
  <h2 class="subtitle">Veja quais são os próximos eventos de tecnologia no Brasil</h2>

  <div class="columns">

    <% @events.each do |event| %>
    <div class="column is-one-third">

      <div class="card">
        <div class="card-content">
          <div class="media">
            <%#<div class="media-left">
              <figure class="image" style="height: 40px; width: 40px;">
                <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
              </figure>
            </div>%>
            <div class="media-content">
              <p class="title is-4"><%= event.title %></p>
              <p class="subtitle is-6"><%= event.city %>, <%= event.state %></p>
            </div>
          </div>

          <div class="content">
            <p><%= event.description %></p>

            <p><i class="material-icons">place</i> <%= event.address %></p>
            <p><i class="material-icons">date_range</i> <%= I18n.l(event.event_date, format: '%d/%m/%Y') %></p>
            
            <a href="<%= event_path(event) %>" class="button is-info">Ver Mais</a>
          </div> <!-- .content -->
        </div>
      </div> <!-- .card -->
      
    </div>
    <% end %>

  </div>

</div>